@tailwind base;
@tailwind components;
@tailwind utilities;
@import "assets/styles/variables.scss";
@import "assets/fonts/Waltograph/stylesheet.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

label {
  font-size: 14px;
}

// INTRO

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg-1;
  height: 100vh;

  &__info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  &__logo {
    width: 40%;
  }

  &__title {
    font-family: "Waltograph", sans-serif;
    font-size: 38px;
  }
}

// CAROUSEL

.carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $accent-1;
  background-size: 100% 100%;
  background-image: radial-gradient(190% 71% at 50% 17%, $bg-1 50%, $bg-2 50%);
  padding: 5px;
  height: 100vh;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    height: 400px;
  }

  &__image {
    position: relative;
    width: 350px;
    height: 300px;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  &__slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    height: 300px;
    max-width: 90%;

    &-hidden {
      display: none;
    }
  }

  &__indicators {
    display: flex;
    gap: 5px;
  }

  &__indicator {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: $bg-1;
    cursor: pointer;

    &-active {
      width: 25px;
      border-radius: 10px;
    }

    &-inactive {
      opacity: 0.3;
    }
  }

  &__description {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    max-width: 95%;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    gap: 15px;
    position: absolute;
    bottom: 25px;
  }
}

.img {
  width: 100%;
  object-fit: cover;
  min-height: 300px;
}

// BUTTONS

.button {
  width: 130px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  background-color: $bg-1;
  //font-family: "Waltograph", sans-serif;
  border: 3px solid transparent;
  border-radius: 25px;
  cursor: pointer;
  padding: 8px 25px;
  transition: background-color 0.2s ease-in, transform 0.2s ease-in;

  &:hover {
    background-color: white;
    color: #7f5abe;
    border: 3px solid #7f5abe;
  }

  &:active {
    transform: scale(0.95);
  }

  &-login-style {
    width: 100%;
    background-color: $bg-1;

    &:hover {
      background-color: #1e293b;
    }
  }

  &-signup-style {
    width: 100%;
    background-color: $bg-1;
    margin: 20px 0;

    &:hover {
      background-color: #1e293b;
    }
  }
}

// SPINNER

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: $accent-2;
  background-color: $bg-2;
}

// NotFoundPage

.not-found {
  background-color: $bg-1;
  height: 100vh;
  padding: 5px;

  &__wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &__image {
    width: 250px;
  }

  &__img {
    width: 100%;
    text-align: center;
  }

  &__404 {
    display: block;
    font-size: 48px;
    font-weight: bold;
    color: $bg-2;
  }

  &__description {
    width: 250px;
  }
}

// LOGIN

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__img {
    position: absolute;
    right: -60px;
    bottom: -50px;
    width: 200px;
    transform: rotate(-15deg);
    transform-origin: left center;
    transition: transform 0.3s ease;
  }
}

.profile {
  width: 100%;
  height: 100vh;
  background-color: pink;
}

.link {
  color: $accent-2;
  opacity: 0.9;

  &:hover {
    opacity: 1;
  }
}

.logo-signup {
  width: 80px;
}

// USER

.user {
  width: 100%;
  min-height: 100vh;
  color: $accent-1;
  background-color: $bg-2;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }

  &__wrapper {
    display: flex;
    gap: 10px;
  }

  &__image {
    position: relative;
    width: 50px;
    height: 50px;
  }

  &__settings {
    z-index: 3;
    width: 30px;
    cursor: pointer;
  }

  &__settings-img {
    transition: transform 0.7s ease-in;

    &:hover {
      transform: rotate(90deg);
    }
  }

  &__img {
    border-radius: 50%;
  }

  &__status {
    position: absolute;
    top: 0;
    right: -2px;
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #05d305;
  }

  &__carousel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
  }

  &__logout {
    background: red;
    padding: 15px 25px;
  }
}

// MOVIE-CARD

.movie-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 310px;
  font-size: 14px;
  border-radius: 10px;

  &__image {
    position: relative;
  }

  &__save-image {
    z-index: 2;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    background-color: rgba(31, 26, 26, 0.6);
    border-radius: 50%;
    cursor: pointer;
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: $accent-1;
    height: 70px;
    margin-top: 5px;
  }

  &__genre {
    font-size: 12px;
  }

  &__add {
    font-size: 13px;
    color: $accent-2;
    opacity: 0.8;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  &__image {
    width: 140px;
    height: 160px;
  }

  &__img {
    width: 100%;
    height: 170px;
    object-fit: cover;
  }

  &-button {
    padding: 3px 10px;

    &:hover {
      border-radius: 20px;
    }
  }
}

// MOVIE CARD SLIDER

.movie-card-slider {
  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px;
  }

  &__add {
    color: $accent-2;
    opacity: 0.8;
    transition: opacity 0.2s ease-in;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}

// SIDEBAR

.sidebar {
  position: absolute;
  padding: 20px 20px 0 20px;
  top: 0;
  right: 0;
  background-color: $bg-2;
  height: 100vh;
  width: 100%;
  z-index: 2;

  &__info {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__user-name {
    font-size: 24px;
  }

  &__user-image {
    width: 130px;
    height: 130px;
    margin: 20px 0;
  }

  &__user-img {
    border-radius: 50%;
  }

  &__phone,
  &__email {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &__phone-img,
  &__email-img {
    width: 25px;
  }

  &__nav {
    margin-top: 25px;
  }

  &__list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    border-bottom: 1px solid transparent;
    cursor: pointer;

    &:hover {
      border-bottom: 1px solid $accent-1;
    }
  }

  &__logout {
    margin-top: 35px;
  }
}

// MOVIE-SELECT

.movie-select {
  width: 250px;
  max-width: 270px;
  color: $bg-1;

  //border-top-left-radius: 10px;
  //border-top-right-radius: 10px;
  //border-bottom-left-radius: 10px;
  //border-bottom-right-radius: 10px;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ensures space between the text and the arrow */
    gap: 5px;
    padding: 10px;
    border: 1px solid $bg-1;
    border-radius: 10px;
    cursor: pointer;
    background-color: $bg-2;
  }

  &__selected {
    flex: 1; /* Ensures the text takes the available space */
  }

  &__img-arrow {
    width: 13px;
    //height: auto;
    //margin-left: 10px; /* Space between the text and the arrow */
  }

  &__img-location {
    width: 25px;
  }

  &__list {
    //list-style: none;
    //padding: 0;
    //margin: 0;
  }

  &__list-item {
    border: 1px solid $bg-1;
    background-color: $bg-2;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
  }

  &__list-item:hover {
    background-color: #f0f0f0;
  }
}

// MOVIE CARD SHINE

figure {
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden;
}
figure:hover + span {
  bottom: -36px;
  opacity: 1;
}

.hover14 figure {
  position: relative;
}
.hover14 figure::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;

  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
}
.hover14 figure:hover::before {
  -webkit-animation: shine 0.75s;
  animation: shine 0.75s;
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}
// SWIPER

.swiper {
  width: 100%;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: $bg-1;
}

.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
